.content {
  height: 500px;
  width: 100%;
  border: 1px solid #ccc;
  font: 16px/26px monospace;
  overflow: auto;
  scroll-behavior: auto;
}

.commandInput {
  display: block;
  width: 100%;
}

.outputWindow {
  width: 50%;
  margin: 0 auto;
}